@-moz-document url-prefix("https://brightspace.carleton.ca") {
/* Main Style */

/* Most elements use these global variables */
html {
    /* basic grays (lightest to darkest) */
    --d2l-color-regolith: #111;
    --d2l-color-sylvite: #202020;
    --d2l-color-gypsum: #2d2d2d;
    --d2l-color-mica: #434648;
    --d2l-color-corundum: #6a7175;
    --d2l-color-chromite: #5d6164;
    --d2l-color-galena: #8c8c8c;
    --d2l-color-tungsten: #e3e3e3;
    --d2l-color-ferrite: #f1f1f1;

    /* zircon */
    --d2l-color-zircon-plus-2: #e0feff;
    --d2l-color-zircon-plus-1: #00d2ed;
    --d2l-color-zircon: #008eab;
    --d2l-color-zircon-minus-1: #006180;

    /* celestine */
    --d2l-color-celestine-plus-2: var(--d2l-color-gypsum);
    --d2l-color-celestine-plus-1: #70c4ff;
    --d2l-color-celestine: #3ea6ff;
    --d2l-color-celestine-minus-1: #70c4ff;

    /* amethyst */
    --d2l-color-amethyst-plus-2: #f2f0ff;
    --d2l-color-amethyst-plus-1: #8982ff;
    --d2l-color-amethyst: #6038ff;
    --d2l-color-amethyst-minus-1: #4500db;

    /* fluorite */
    --d2l-color-fluorite-plus-2: #f9ebff;
    --d2l-color-fluorite-plus-1: #ce68fa;
    --d2l-color-fluorite: #9d1fd4;
    --d2l-color-fluorite-minus-1: #6900a0;

    /* tourmaline */
    --d2l-color-tourmaline-plus-2: #ffebf6;
    --d2l-color-tourmaline-plus-1: #fd4e9d;
    --d2l-color-tourmaline: #d40067;
    --d2l-color-tourmaline-minus-1: #990056;

    /* cinnabar */
    --d2l-color-cinnabar-plus-2: #ffede8;
    --d2l-color-cinnabar-plus-1: #ff575a;
    --d2l-color-cinnabar: #cd2026;
    --d2l-color-cinnabar-minus-1: #990006;

    /* carnelian */
    --d2l-color-carnelian-plus-1: #fff3e0;
    --d2l-color-carnelian: #e87511;
    --d2l-color-carnelian-minus-1: #ba4700;
    --d2l-color-carnelian-minus-2: #7d2600;

    /* citrine */
    --d2l-color-citrine-plus-1: #fff9d6;
    --d2l-color-citrine: #ffba59;
    --d2l-color-citrine-minus-1: #c47400;
    --d2l-color-citrine-minus-2: #7a4300;

    /* peridot */
    --d2l-color-peridot-plus-1: #efffd9;
    --d2l-color-peridot: #8ad934;
    --d2l-color-peridot-minus-1: #4a8f00;
    --d2l-color-peridot-minus-2: #2f5e00;

    /* olivine */
    --d2l-color-olivine-plus-1: #e7ffe3;
    --d2l-color-olivine: #46a661;
    --d2l-color-olivine-minus-1: #027a21;
    --d2l-color-olivine-minus-2: #005614;

    /* malachite */
    --d2l-color-malachite-plus-1: #e3fff5;
    --d2l-color-malachite: #2de2c0;
    --d2l-color-malachite-minus-1: #00a490;
    --d2l-color-malachite-minus-2: #00635e;

    /* primary accent */
    --d2l-color-primary-accent-action: var(--d2l-color-celestine);
    --d2l-color-primary-accent-indicator: var(--d2l-color-carnelian);

    /* feedback */
    --d2l-color-feedback-error: var(--d2l-color-cinnabar);
    --d2l-color-feedback-warning: var(--d2l-color-carnelian);
    --d2l-color-feedback-success: var(--d2l-color-olivine);
    --d2l-color-feedback-action: var(--d2l-color-celestine);
    
    
    /* Custom Dark Theme configs*/
    --d2l-tooltip-background-color: var(--d2l-color-gypsum);
    --d2l-loading-spinner-color: var( --d2l-color-galena);
    --d2l-input-background-color: var(--d2l-color-gypsum);
}





/* ===== Additional Elements ===== */
/* These elements don't use the globals for some reason (hardcoded colour or shadow DOM), I set them manually here.*/
/* I implemented a few tweaks to hide the jankyness revealed in D2L's UI after having changed the colours.*/



/* --- Generic Elements --- */

.d2l-navigation-s {
    background-color: var(--d2l-color-regolith);
}

.d2l-body, #d2l_body {
    background-color: var(--d2l-color-regolith);
}

.d2l-tile {
    background-color: var(--d2l-color-sylvite);
}

.d2l-branding-navigation-background-color {
	background-color: var(--d2l-color-sylvite);
}

/* Hacky way to change logo image. I'm changing it to the one on the wellness page, which is transparent. It takes a bit to load but what can I do! */
a[href="/d2l/lp/ouHome/defaultHome.d2l"] {
	background-image: url("https://cu-production.s3.amazonaws.com/theme-wellness/assets/img/B_Logo_H-RGBRedBlackWhiteonDark150_130821.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    
    span.d2l-labs-navigation-link-image-container img{
        opacity: 0;
    }
}

.d2l-textblock{
    color: var(--d2l-color-ferrite)
}

.d2l-textblock-secondary{
    color: var(--d2l-color-tungsten)
}

li.d2l-datalist-item div {
	color: var(--d2l-color-ferrite)
}

.d2l-collapsible-panel.scrolled div.d2l-collapsible-panel-header {
    background-color: var(--d2l-color-gypsum);
}

d2l-alert {
    background: var(--d2l-color-gypsum);
}

/* Turn dark icons bright */
.d2l-icon-custom {
    filter: invert(100%) brightness(1.5);
}

:host d2l-icon-custom{
	color: var(--d2l-color-ferrite);
}

:host([_floating]) .d2l-floating-buttons-container {
	background-color: rgb(from var(--d2l-color-sylvite) r g b / 0.88) !important;
}

.d2l-panel {
	background-color: var(--d2l-color-sylvite);
    border: 1px solid var(--d2l-color-gypsum);
}

.d2l-column-flip-side {
	background-color: var(--d2l-color-sylvite);
	box-shadow: 5px 0px 4px -3px var(--d2l-color-regolith) inset;
}

.d2l-column-flip .d2l-column-side-bg {
	background-color: var(--d2l-color-sylvite);
	box-shadow: 5px 0px 4px -3px var(--d2l-color-regolith) inset;
}

.vui-list > .vui-selected {
	background-color: var(--d2l-color-sylvite);
	border-top-color: #006fbf;
}


/* --- Dialogue --- */
.d2l-dialog-mvc .d2l-dialog-inner, .ddial_o2 {
	background-color: var(--d2l-color-sylvite);
    border: 1px solid var(--d2l-color-gypsum);
}


.d2l-dialog-mvc  .d2l-dialog-frame {
	border-radius: .5rem;
}

.d2l-dialog-document-body.d2l-dialog-mvc {
	background-color: var(--d2l-color-sylvite) !important;
    
}

.d2l-dialog-outer {
	background-color: var(--d2l-color-sylvite) !important;
    border: 1px solid var(--d2l-color-gypsum) !important;
}

.d2l-shim {
	background-color: var(--d2l-color-sylvite);
}

d2l-breadcrumbs::after {
	background: none;
}



/* --- Buttons --- */
.d2l-button, .d2l-button[active][disabled], .d2l-button[disabled]:focus, .d2l-button[disabled]:hover {
	background-color: var(--d2l-color-gypsum);
	color: var(--d2l-color-ferrite);
}

.d2l-button.d2l-button-focus, .d2l-button.d2l-button-hover, .d2l-button:focus, .d2l-button:hover, .d2l-button[active] {
	background-color: var(--d2l-color-mica);
}

.d2l-calendar-date {
	background-color: var(--d2l-color-sylvite) !important;
}

.d2l-calendar-date:hover {
	background-color: var(--d2l-color-gypsum) !important;
}

.d2l-iterator-button:hover {
	background-color: var(--d2l-color-gypsum);
}



/* --- Fields --- */
.d2l-multiselect {
	background-color: var(--d2l-color-gypsum);
	border: 1px solid var(--d2l-color-sylvite);
	box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
    color: var(--d2l-color-ferrite) !important ;
}

.d2l-edit:focus, .d2l-edit:hover, .vui-input[type="email"]:focus, .vui-input[type="email"]:hover, .vui-input[type="password"]:focus, .vui-input[type="password"]:hover, .vui-input[type="text"]:focus, .vui-input[type="text"]:hover, .vui-input[type="url"]:focus, .vui-input[type="url"]:hover {
	border-color: var(--d2l-color-zircon);
}

.d2l-edit, .d2l-edit:hover:disabled, .d2l-edit[aria-invalid="true"]:disabled, .vui-input[type="email"], .vui-input[type="email"]:hover:disabled, .vui-input[type="email"][aria-invalid="true"]:disabled, .vui-input[type="password"], .vui-input[type="password"]:hover:disabled, .vui-input[type="password"][aria-invalid="true"]:disabled, .vui-input[type="text"], .vui-input[type="text"]:hover:disabled, .vui-input[type="text"][aria-invalid="true"]:disabled, .vui-input[type="url"], .vui-input[type="url"]:hover:disabled, .vui-input[type="url"][aria-invalid="true"]:disabled {
	background-color: var(--d2l-color-gypsum);
	border: 1px solid var(--d2l-color-sylvite);
	box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
    color: var(--d2l-color-ferrite) !important ;
}

.tox .tox-edit-area__iframe {
	background-color: var(--d2l-color-gypsum);
}

.tox-tinymce {
	border: none;
	border-radius: 0px;
}

.d2l-htmleditor-toolbar-border {
	border-bottom: 1px solid var(--d2l-color-gypsum);
	margin: 1px -4px 0px;
}

.d2l-input {
    border: 1px solid var(--d2l-color-sylvite);
    box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
}

.d2l-longedit, textarea.vui-input {
	background-color: var(--d2l-color-gypsum);
	border: 1px solid var(--d2l-color-sylvite);
	box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
    color: var(--d2l-color-ferrite) !important ;
}

.d2l-select, .d2l-select:hover:disabled, select.vui-input, select.vui-input:hover:disabled {
	background-color: var(--d2l-color-gypsum);
	border: 1px solid var(--d2l-color-sylvite);
	box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
    color: var(--d2l-color-ferrite) !important ;
}

/* a lot of these things are edge-cases. Might make a seperate edge-case section ...*/
/* in the future, for the sake of cleanliness. */
.subscribe-feed-url-partial-container {
    background-color: var(--d2l-color-gypsum);
}



/* --- Home Elements --- */
.d2l-tabs-layout.d2l-body-compact.d2l-skeletize-container.d2l-tabs-layout-shown {
  border-bottom: 1px solid var(--d2l-color-mica);
}

.d2l-datalist-item.d2l-datalist-item-actionable.d2l-list-item-action-hover {
    background-color: var(--d2l-color-gypsum);
}

/* Make loading spinner black and white */
.d2l-loading-spinner-wrapper {
    filter: invert(80%);
}



/* --- Submission --- */
.d2l-fileinput-add {
	background-color: var(--d2l-color-sylvite);
}

.d2l-htmleditor-container {
	background-color: var(--d2l-color-sylvite) !important;
}

.d2l-htmleditor-container {
	border: 1px solid var(--d2l-color-gypsum) !important;
}



/* --- Course Page --- */
.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link, .d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:link, .d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:visited {
	color: var(--d2l-color-ferrite);
}

div.d2l-navigation-s-header-logo-area a.d2l-navigation-s-link:hover {
    color: var(--d2l-color-celestine);
}

#ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor::after, #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:link::after, #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:visited::after, #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:hover::after, #ContentModuleTree .d2l-le-TreeAccordionItem.d2l-le-TreeAccordionItem-Selected > a.d2l-le-TreeAccordionItem-anchor:focus::after {
    filter: invert(40%);
}

.d2l-collapsepane .d2l-collapsepane-content, .d2l-page-collapsepane-content {
	background-color: var(--d2l-color-sylvite);
	border: 1px solid var(--d2l-color-mica);
    border-top: 0px;
}

.d2l-collapsepane .d2l-collapsepane-header {
    background: var(--d2l-color-sylvite);
}

.d2l-image {
    filter: invert(100%);
}

.d2l-progresschart {
    filter: invert(100%) hue-rotate(175deg) brightness(0.9);
}



/* --- Content View --- */
.d2l-page-collapsepane-content {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.d2l-page-collapsepane-content-inner {
	background-color: var(--d2l-color-sylvite);
}

.d2l-page-collapsepane-handle, .d2l-page-collapsepane.d2l-page-collapsepane-opening .d2l-page-collapsepane-handle {
	background: var(--d2l-color-sylvite);
}

.d2l-popup-title {
	background-color: var(--d2l-color-sylvite);
}

.d2l-fileviewer > div {
    background-color: var(--d2l-color-sylvite);
    border: 1px solid var(--d2l-color-mica);
}



/* --- Grades --- */
table.d2l-table > tbody{
    > tr {
        background-color: var(--d2l-color-regolith);
        
        * {
            background-color: var(--d2l-color-gypsum);
        }
    }
    
    > tr.d_gd * {
        background-color: hsl(from var(--d2l-color-sylvite) h s calc(l + 3));
    }
    
    > tr.d_ggl1 * {
        background-color: var(--d2l-color-sylvite);
    }
    
    > tr.d_gh * {
        background-color: var(--d2l-color-sylvite);
    }
    
    > tr.d2l-table-row-last{
        background-color: var(--d2l-color-regolith);
        
        * {
            background-color: var(--d2l-color-sylvite);
        }
    }
    
    img[title="Dropped"] {
        background: none;
        filter: invert(100%) brightness(190%);
    }
}



/* --- Calendar (WIP) --- */
.vui-button {
    background-color: var(--d2l-color-gypsum) !important;
	color: var(--d2l-color-ferrite) !important;
}

.d2l-le-calendar-today {
	background-color: var(--d2l-color-gypsum) !important;
}




/* --- Misc. --- */
.d2l-charttooltip {
	background-color: var(--d2l-color-sylvite);
}

.d2l-twopanelselector-side-padding > div:nth-child(1) {
    background-color: var(--d2l-color-sylvite);
    border-radius: 8px;
    padding: 16px;
    
}

.d2l-datalist-nesteditem-accordion:first-child {
	border: none;
}

.d2l-datalist-nesteditem-accordion:last-child {
	border: none;
}

.vui-list > li {
	border-top: none; 
}

/* div.d2l-datalist-container.d2l-datalist-style1 {
    background-color: var(--d2l-color-sylvite) !important;
} */

.d2l-twopanelselector-side-padding> div > .d2l-datalist-container > ul{
    
    > .d2l-datalist-nesteditem-accordion-firstchild {
        background: var(--d2l-color-sylvite);
        
        
        > .d2l-datalist-item-content.d2l-datalist-item-content-first {
            padding-top: 32px;
            margin-bottom: 6px;
            background: linear-gradient(to top, var(--d2l-color-gypsum), hsl(from var(--d2l-color-sylvite) h s calc(l + 1)) 92%, var(--d2l-color-sylvite)) 100%;
            border-bottom: 1px solid var(--d2l-color-mica);

            > div {
                padding: 2px 16px;
                
            }
        }
    }
    
    > :not(.d2l-datalist-nesteditem-accordion-firstchild) {
        margin-bottom: 15px;
        
        > div > div {
            border-radius: 12px;
            padding: 16px;
            border: 1px solid var(--d2l-color-gypsum);
            div {
                margin: 0px;
            }
            
            > div:nth-child(2) {
                background-color: var(--d2l-color-gypsum);
                border: 1px solid var(--d2l-color-sylvite);
                box-shadow: inset 0px 1px 1px 0px var(--d2l-color-sylvite);
            }
        }
        
    }
}

div.d2l-datalist-container.d2l-datalist-style1 ul.d2l-datalist.vui-list {
    /*background-color: var(--d2l-color-sylvite) !important;*/
    
    
    li.d2l-datalist-item.d2l-datalist-nesteditem .d2l-datalist-item-content {
        background-color: var(--d2l-color-sylvite);   
    }
    
    li.d2l-datalist-item.d2l-datalist-item-actionable  {
        
        > div {
            padding: 0px;
            > div {
                padding: 16px 16px;
            }
        }
        
        .d2l-datalist-item-content:hover{
            div{
                background-color: var(--d2l-color-gypsum) !important;
            }
        }
    }
    
    li.d2l-datalist-item.d2l-datalist-item-actionable.d2l-datalist-nesteditem.d2l-datalist-nesteditem-accordion.d2l-le-DataListItem-Selected .d2l-datalist-item-content{
        background-color: var(--d2l-color-gypsum) !important;
        border: 1px solid var(--d2l-color-mica);
    }
}    

.d2l-user-profile-handle .d2l-imagelink {
	background-color: var(--d2l-color-gypsum);
}

.js_UserGrade > div > div:has(.d2l-inline) {
    > div {
        padding: 6px 12px;
        border: 1px solid var(--d2l-color-mica);
        
    }

    > div > div {
    border-left-color: var(--d2l-color-mica);
    }
} 





/* ===== Shadow DOM ===== */
/* These are for those pesky Shadow DOM elements. They likely won't work unless you 'Stylus Shadow DOM Support' by jcunews. */

:host d2l-card {
    background-color: var(--d2l-color-gypsum) !important;
}

:host div.d2l-collapsible-panel {
	background-color: var(--d2l-color-sylvite) !important;
}

d2l-card:hover {
    box-shadow: 0px 1px 24px var(--d2l-color-gypsum); 
}


d2l-dropdown-menu, d2l-dropdown {
    --d2l-dropdown-background-color: var(--d2l-color-sylvite);
}


d2l-menu {
    --d2l-menu-background-color: var(--d2l-color-sylvite);
}


d2l-dropdown-content{
	--d2l-dropdown-background-color: var(--d2l-color-sylvite) !important;
	--d2l-dropdown-border-color: var(--d2l-color-mica);
	--d2l-dropdown-foreground-color: var(--d2l-color-ferrite);
	color: var(--d2l-dropdown-foreground-color);
}

.d2l-messagebucket-button-container + #AB_DL_PH_Messages .d2l-datalist-container {
	background: var(--d2l-color-sylvite) !important;
}

d2l-tooltip {
    --d2l-tooltip-background-color: var(--d2l-color-sylvite);
    --d2l-tooltip-border-color: var(--d2l-color-mica);
}


d2l-course-image :host img.shown {
    background-color: var(--d2l-color-sylvite);
}






}

@-moz-document url-prefix("https://cufed.carleton.ca") {
/* Login Page*/

html {
    /* Same as Main userstyle colours */
    --shade1: #111;
    --shade2: #202020;
    --shade3: #2d2d2d;
    --text-color: #f1f1f1;
    --hyperlink-color: #008eab;
}

*, .pageLink {
    background-color: var(--shade2);
    color: var(--text-color);
}

a * {
    color: var(--hyperlink-color);
}

#header {
    background-image: url("https://cu-production.s3.amazonaws.com/theme-wellness/assets/img/B_Logo_H-RGBRedBlackWhiteonDark150_130821.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img {
        opacity: 0;
    }
}
}